repos:
-   repo: local
    hooks:
    -   id: golangci-lint
        name: golangci-lint
        entry: mise run lint-staged
        language: system
        types: [go]
        pass_filenames: false
-   repo: builtin
    rev: latest
    hooks:
    -   id: trailing-whitespace
    -   id: check-yaml
    -   id: check-toml
    -   id: check-added-large-files
-   repo: https://github.com/tekwizely/pre-commit-golang
    rev: v1.0.0-rc.4
    hooks:
    -   id: go-fmt
    -   id: go-mod-tidy
- repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
  rev: v9.24.0
  hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies:
            - '@commitlint/config-conventional'
